::-webkit-scrollbar{
  width: 30px;
  background: black;
}

#header{
  min-height: 100vh;
  background-color: var(--light-green);
}

#aboutme{
  min-height: 100vh;
  background-color: var(--white);
}

#contactme{
  min-height: 100vh;
  background-color: var(--pink);
}