.toggle-sidebar{
  font-size: 30px;
  color: var(--white);
  display: none !important;
}

@media (max-width:850px) {
  .toggle-sidebar{
    display: block !important;
  }
}

@media (max-width:330px) {
  .toggle-sidebar{
    font-size: 20px;
  }  
}