@font-face {
  font-family: undertale;
  src: url(/fonts/undertale.ttf);
}

::selection {
  background-color: var(--mantine-color-teal-light);
}

body {
  user-select: none;
  font-size: 22px;
  font-family: "undertale", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--mantine-color-pink-4);
  border-radius: 100px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

#ILEFT {
  font-family: "undertale";
  font-size: 28px;
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}
